/* custom CSS styles */

body {
  background: #C5BFB6;
  color: #C5BFB6;
  }
.button {
	background-color: #5B453B;
	border-color: #600B00;
	color: white;
}
.button:hover, .button:focus {
	background-color: #796945;
}

header h2 {
	font-weight: normal;
	padding-top: 1em;
	font-size: 2em;
	text-transform: none;
}
.panel {
	font-style: italic;
	font-family: Georgia, serif;
}
.panel a {
	font-style: normal;
}
.bottomspace {
	margin-bottom: 2em;
}
h1, h2, h3, h4, h5, h6 {
	color: #5B453B;
	font-family: 'Alegreya Sans', sans-serif;
}


.top-bar {
	overflow: hidden;
	height: 45px;
	line-height: 45px;
	position: relative;
	margin-bottom: 0;
	background-color: #60708D;
}
.tab-bar {
	-webkit-backface-visibility: hidden;
	background: #00AE80;
	color: white;
	height: 2.8125rem;
	line-height: 2.8125rem;
	position: relative;
}
.top-bar-section ul li > a.button {
	font-size: 0.8125rem;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #00AE80;
	border-color: #CC3399;
	color: white;
}
.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
          background-color: #CCFF33; }
.top-bar-section ul li > button {
      font-size: 0.8125rem;
      padding-right: 15px;
      padding-left: 15px;
      background-color: #CCFF33;
      border-color: #007095;
      color: white; }		  
		  
.label {
	font-weight: normal;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	margin-bottom: inherit;
	padding: 0.25rem 0.5rem 0.375rem;
	font-size: 0.6875rem;
	background-color: #00AE80;
	color: white;
}

footer p {
	font-size: 0.8em;
}
footer {
	padding: 2em 0;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #060;
}


/* We modify the basic fieldset styling */
fieldset {
  border: 1px solid #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
  color: #5B453B; }
fieldset legend {
  	font-size: 1.25rem;
    font-weight: bold;
    color: #5B453B;
    background: none;
    padding: 0.2rem 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }

/* Styles defined by Tom ? 
Moved them here for clean up the code
*/
label {
	margin-top: 20px;}
code {
	font-size: 14px;}
.row {
	margin-bottom: 20px;}
	
.header {
	border-bottom: 1px solid #333;}
	
dl dt {
	display: inline-block;
	width: 18%;
	margin-right: 1%;
	vertical-align: top;}
	
dl dd {
	display: inline-block;
	width: 79%;
	vertical-align: top;}

/* We add the star shapes for login pages */
	.star0 {
	    position: absolute;
	    display:block;
		left: 6%;
	    top: 24%;
		width: 200px;
	    height: 200px;
		z-index: 1;
		background:transparent url('../_images/bang0.png')  no-repeat;
		padding: 80px 70px;
		font-size:34px;
		}
	.star0:hover{
		background:transparent url('../_images/bang0_h.png')  no-repeat;
	}
	.star1 {
	    position: absolute;
	    display:block;
		left: 400px;
	    top: 322px;
		width: 200px;
	    height: 200px;		
		z-index: 2;
		background-position: center top;
		background:transparent url('../_images/bang1.png')  no-repeat;
		padding: 80px 70px;
		font-size:36px;
		}
	.star1:hover{
		background:transparent url('../_images/bang1_h.png')  no-repeat;
	}
	.star2 {
	    position: absolute;
	    display:block;
		left: 660px;
	    top: 140px;
		width: 200px;
	    height: 200px;		
		z-index: 3;
		background-position: center top;
		background:transparent url('../_images/bang2.png')  no-repeat;
		padding: 80px 70px;
		font-size:36px;
		}
	.star2:hover{
		background:transparent url('../_images/bang2_h.png')  no-repeat;
	}

.calendar .date-picker {
	width:100%;
}