/*Preventing chrome from putting the light blue rim around the selected element, looks awful!!!!*/
canvas {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
	user-select: none;
	border: 1px solid #dddddd;
}

table thead tr td, table tr td {
	font-size: 12px;
	font-weight: normal;
}

table thead tr th {
	font-size: 12px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

#countdown_message {
	text-align: center;
	color: rgb(255,0,0);
}

.confirm_warn {
	font-weight: bold;
	color: rgb(255,0,0);
}

#c_quake_id_span {
	font-weight: bold;
}